<div class="register-card">
    <form (ngSubmit)="onSubmit()">
        <div class="logo-section">Taskforge</div>
        <div class="input-section">
            <input #emailRef type="email" name="email" placeholder="email" />
        </div>
        <div class="input-section">
            <input #usernameRef type="text" name="username" placeholder="username" />
        </div>
        <div class="input-section">
            <input #passwordRef type="password" name="password" placeholder="password" />
        </div>
        <div class="input-section">
            <input #confirmPasswordRef type="password" name="confirm password" placeholder="confirm password" />
        </div>
        <div class="button-section">
            <button type="submit">Register  </button>
        </div>
        <div class="auth-switch">
            <span style="margin-left:25px">You have an account? </span>
            <a routerLink="/auth/login" routerLinkActive="active">login</a>
        </div>
    </form>
</div>