<div class="register-card">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="logo-section">Taskforge</div>
        <div class="input-section">
            <input  
                type="email" 
                name="email" 
                placeholder="email" 
                formControlName="email"
                required
            />
        </div>
        <div class="input-section">
            <input  
                type="text" 
                name="username" 
                placeholder="username" 
                formControlName="username"
                required
            />
        </div>
        <div class="input-section">
            <input  
                type="password" 
                name="password" 
                placeholder="password" 
                formControlName="password"
                required
            />
        </div>
        <div class="input-section">
            <input  
                type="password" 
                name="confirm password" 
                placeholder="confirm password" 
                formControlName="confirmPassword"
                required
            />
        </div>
        <div class="button-section">
            <button type="submit">Register</button>
        </div>
        <div class="auth-switch">
            <span style="margin-left:25px">You have an account? </span>
            <a routerLink="/auth/login" routerLinkActive="active">login</a>
        </div>
    </form>
</div>