<div class="login-card">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="logo-section">Taskforge</div>
        <div class="input-section">
            <input 
                type="text" 
                name="username" 
                placeholder="username or email" 
                formControlName="username"
                required
            />
        </div>

        <div class="input-section">
            <input 
                type="password" 
                name="password" 
                placeholder="password" 
                formControlName="password"
                required 
            />
        </div>

        <div class="button-section">
            <button type="submit">Login</button>
        </div>
        <div class="auth-switch">
            <span style="margin-left:25px">Don't have an account? </span>
            <a routerLink="/auth/register" routerLinkActive="active">register</a>
        </div>
    </form>
</div>